<div class="form-group" ng-controller="InsightOptionsController">
	<form>
		<div class="timefield">
			<label>Timefield:</label>
			<select ng-model="vis.params.timefield" ng-options="timeterm as timeterm for timeterm in timelist">
			</select>
		</div>
		<div class="rectorder">
			<label>Order of data in the bar:</label>
			<select ng-model="vis.params.rectorder" ng-options="orderop as orderop for orderop in orderlist">
			</select>
		</div>
		<fieldset  class="thechooser-in" data-ng-repeat="choice in choices" ng-show="selected">
			<div class="thechooser-out">
				<div class="attr">
					<label>Attribute:</label>
					<select ng-model="choice.attr" ng-options="term as term for term in termlist">
					</select>
				</div>

				<div class="topn">
					<label>Top N Values:</label>
			  		<input type="number" ng-model="choice.topn" min="1" max="30"/>
			  	</div>
			</div>
	  		<button class="remove" ng-click="removeChoice($index)">Remove</button>
	  	</fieldset>
	  	<button class="addfields" ng-click="addNewChoice()">Add fields</button>
  	</form>
  	<button class="compfields1" id="magicbutton" ng-click="complete()">Process</button>

  	<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
     	<md-icon md-svg-src="img/plus.svg"></md-icon>
    </md-button>
</div>