<div class="form-group" ng-controller="InsightOptionsController">
	<form>
		<!-- <div class="timefield">
			<label>Timefield:</label>
			<select ng-model="vis.params.timefield" ng-options="timeterm as timeterm for timeterm in timelist">
			</select>
		</div> -->
		<div class="rectorder">
			<label>Order of data in the bar:</label>
			<select ng-model="vis.params.rectorder" ng-options="orderop as orderop for orderop in orderlist">
			</select>
		</div>
		<div class="tableoption">
			<label>Show values in table:</label>
			<input type="checkbox" ng-model="vis.params.tableoption" name="tableoption" ng-true-value="'yes'" ng-false-value="'no'">
		</div>
		<fieldset  class="thechooser-in" data-ng-repeat="choice in choices" ng-show="selected">
			<div class="thechooser-out">
				<div class="attr">
					<label>Attribute:</label>
					<select ng-model="choice.attr" ng-options="term as term for term in termlist">
					</select>
				</div>

				<div class="topn">
					<label>Top N Values:</label>
			  		<input type="number" ng-model="choice.topn" min="1" max="30"/>
			  	</div>
			</div>
			<button class="euiButton euiButton--danger euiButton--fill remove" type="button" ng-click="removeChoice($index)">
		      <span class="euiButton__content">
		        <span class="euiButton__text">Remove</span>
		      </span>
    		</button>
	  	</fieldset>
	  	<button class="euiButton euiButton--secondary euiButton--fill addfields" type="button" ng-click="addNewChoice()">
	      <span class="euiButton__content">
	        <span class="euiButton__text">Add fields</span>
	      </span>
	    </button>
  	</form>
  	<button class="euiButton euiButton--primary euiButton--fill compfields1" type="button" id="magicbutton" ng-click="complete()">
      <span class="euiButton__content">
        <span class="euiButton__text">Process</span>
      </span>
    </button>

  	<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
     	<md-icon md-svg-src="img/plus.svg"></md-icon>
    </md-button>
</div>